<h2> New Secret </h2>

<form id="new-secret-form" action="<%= secrets_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<% form_authenticity_token %> ">

   <label>Title
     <input type="text" name="secret[title]" value="">
   </label>
   <br>

   <input type="hidden" name="secret[recipient_id]" value="<%= params[:id] %>">

   <input type="submit" value="Submit">
</form>