<form action="<%= secrets_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<% form_authenticity_token %> ">

   <label>Title
     <input type="text" name="secret[title]">
   </label>
   <br>

   <input type="hidden" name="secret[recipient_id]" value="<%= params[:user_id] %>">

   <input type="submit" value="Submit">
</form>